.container {
    width: 80%;
    margin: 0 auto;
    background-color: #017305;
    padding: 20px;
    outline: 5px solid #005703;
}

canvas {
    display: block;
    margin: 0 auto;
    outline : none !important;
    border: none !important;
}